<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="orvnge.wwnje.com.fucknews">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.Activity.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Activity.BrowseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.Activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".view.Activity.AddNewsActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity android:name=".view.Activity.MeActivity" />
        <activity android:name=".view.Activity.BaseActivity" />
        <activity android:name=".view.Activity.DetailActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".WebActivity" />
        <activity
            android:name=".view.Activity.TwentyActivity"
            android:label="@string/title_activity_twenty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.Activity.ZhiHuActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="read"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>